@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --coconutmilk: #fefefb;
  --black: #171717;
  --oak: #c0ae94;
  --olive: #4d4738;
  --earth: #755f4a;
  --seafoam: #bab9a7;
}

@theme inline {
  --color-background: var(--coconutmilk);
  --color-foreground: var(--black);
  --color-oak: var(--oak);
  --color-olive: var(--olive);
  --color-earth: var(--earth);
  --color-seafoam: var(--seafoam);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-raleway);
}
html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  overscroll-behavior-y: none;
}

h1, h2, h3 {
  font-family: var(--font-raleway);
}


@keyframes wave {
  0% {
    transform: translateX(0%) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.animate-wave {
  animation: wave 40s linear infinite;
}

.animate-wave-delay {
  animation: wave 45s linear infinite;
}

.animate-wave-slow {
  animation: wave 50s linear infinite;
}